$general_font_text: 'Open Sans';
$general_font_caption: 'Source Sans Pro';
$active_color: #19bd9a;
$caption_color: #333b46;
$text_color: #81868e;
$back_color: #f3f3f3;

.caption {
  font-size: 20px;
  font-family: $general_font_caption;
  color: $caption_color;
}

.text {
  font-size: 14px;
  font-family: $general_font_text;
  line-height: 1.786;
  color: $text_color;
}

.round {
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  color:white;
  margin: 0 5px;
  line-height: 27px;
}

@mixin media-max($max-width) {
  @media only screen and (max-device-width: $max-width) {
    @content
  }
}

@mixin media-min($min-width) {
  @media only screen and (min-width: $min-width) {
    @content
  }
}
