
@import "first_carousel_item";

.first_carousel {
  padding: 80px 0 0;
  h3 {
    @extend .caption;
    margin-bottom: 44px;
  }
  p {
    @extend .text;
    margin-bottom: 66px;
  }

  .carousel-indicators li {
    border: 1px solid $active_color;
  }
  .carousel-indicators .active {
    background-color: $active_color;
  }
  .carousel-indicators {
    @media screen and (min-width: 768px) {
      bottom: -60px;
    }
  }
}
.separation {
  margin-top: 170px;
  padding: 60px 0 57px;
  background-image: url("../images/separate.png");
  background-size: cover;

  p {
    font-size: 20px;
    font-family: $general_font_text;
    margin-bottom: 15px;
    color: white;
  }
  a {
    margin: auto;
    display: block;
    width: 140px;
    height: 35px;
    border: 1px solid white;
    border-radius: 16px;
    text-align: center;
    line-height: 37px;
    font-family: $general_font_text;
    font-size: 16px;
    color: white;
    &:visited {
      text-decoration: none;
    }
  }
}