@import "Costants.scss";
header{
  .header{
    padding-top: 40px;
    position: relative;
    z-index: 1;
  }

  .navbar-default .navbar-nav  {
    li {
      a {
        padding: 5px 21px;
        color: white;
        font-size: 10px;
        border: 1px solid rgba(0,0,0,0);
        font-family: $general_font_text, sans-serif;

        &:hover{
          background-color: rgba(0,0,0,0);
          color: white;
          border: 1px solid white;
          border-radius: 20px;
        }
      }
    }
  }
  .navbar-default{
    background:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    margin-bottom: 0;
  }
  .navbar{
    border: none;
    margin-bottom: 0;
  }
}
.navbar-brand{
  width: 111px;
  height: 20px;
  img{
    margin-bottom: 6px;
  }

}