

.hovers {
  padding-top: 80px;
  h3 {
    @extend .caption;
    margin-bottom: 45px;
  }
  p {
    @extend .text;
    margin-bottom: 64px;
  }
  .hovers {
    padding-top: 80px;
  }
  .ALL {
    .container-fluid {

      .row {
        .col-lg-6 {
          padding: 0;
        }
        .col-lg-3 {
          padding: 0;
        }
        .hov {
          height: 318px;
          position: relative;
          &:after {
            content: "";
            display: block;
            background-color: black;
            position: absolute;
            width: 100%;
            height: 100%;
            color: white;
            text-align: center;
            line-height: 320px;
            text-transform: uppercase;
            font-weight: lighter;
            opacity: 0.8;

          }
          &:hover {
            &:after {
              display: none;
            }
          }

        }
        .one {
          background-image: url(../Images/img-1.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-size: cover;
          &:after {
            content: "+";
            @extend .caption;

          }
        }
        .two {
          background-image: url(../Images/img-2.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-size: cover;
          &:after {
            content: "Vintage";
            @extend .caption;
          }
        }
        .three {
          background-image: url(../Images/img-3.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-size: cover;
          overflow:hidden;
          &:after {
            content: "Branding";
            @extend .caption;
          }
        }
      }
    }
  }
}

.shooz {
  background-image: url("../Images/shooz.png");
  background-size: cover;
  height: 110px;
  padding-top: 35px;
  @include media-max(1024px){
    padding-top: 5px;
  }
  p {
    @extend .text;
    color: white;
    margin-top: 10px;
    @include media-max(414px){
      margin-top: 5px;
    }
  }
  a{
    display: block;
    width: 140px;
    height: 35px;
    border: 1px solid white;
    border-radius: 16px;
    text-align: center;
    line-height: 37px;
    font-family: $general_font_text;
    font-size: 16px;
    color: white;
  }
}