@import "Costants";

.subscribe {
  padding: 80px 0 100px;
  background-image: url("../images/imad-bg-2.png");
  @include media-max(414px) {
    padding: 40px 0 50px;
  }
  h3 {
    @extend .caption;
    margin-bottom: 35px;
    color: white;
  }
  p {
    @extend .text;
    margin-bottom: 50px;
  }
  .my-form {
    max-width: 520px;
    margin: auto;
    height: 40px;
    .form-group {
      display: inline-block;
      width: 68.68%;
      margin-right: 9px;
      @include media-max(414px) {
        margin-right: 0;
      }
      margin-bottom: 0;
      height: 40px;
      input {
        border: 1px solid $text_color;
        padding-left: 22px;
        @extend .text;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0;
        height: 40px;
      }
    }
    button {
      display: inline-block;
      height: 40px;
      width: 28.84%;
      border-radius: 0;
      box-shadow: none;
      background-color: $active_color;
      @extend .text;
      color: white;
    }
  }
}

.contact_us {
  padding: 55px 0 100px;
  background-color: $back_color;
  .left-one {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    @include media-max(414px) {
      justify-content: center;
    }
  }
  .right-one {
    display: flex;
    margin-bottom: 15px;
    @include media-max(414px) {
      justify-content: center;
    }

  }
  .center_one {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .left_bl {
    max-width: 288px;
    background-color: white;
    padding-bottom: 30px;
  }
  .right_bl {
    max-width: 288px;
    background-color: white;
    padding-bottom: 30px;
  }
  .center_bl {
    max-width: 288px;
    background-color: white;
    padding-bottom: 30px;
  }
  span {
    display: block;
    @extend .text;
  }
  h5 {
    margin: 32px 0 25px;
    font-size: 16px;
    font-family: $general_font_text;
    color: $caption_color;
  }

}

.contact_us_form {
  padding: 80px 0 130px;
  .left-one {
    display: flex;
    justify-content: flex-end;
    @extend .text;
    @include media-max(414px) {
      justify-content: center;
    }
  }
  .right-one {
    display: flex;
    justify-content: flex-start;
    @extend .text;
    @include media-max(414px) {
      justify-content: center;
    }

  }
  .center_one {
    font-size: 16px;
    font-family: $general_font_text;

    display: flex;
    justify-content: center;
    @extend .text;
  }


  .textarea {
    max-width: 990px;
    margin: auto;
    margin-bottom: 30px;
    .my_textarea {
      resize: none;
      width: 100%;
      height: 188px;
      border-radius: 0;
      box-shadow: none;
    }
  }
  .mine {
    max-width: 1000px;
    margin: auto;
    height: 53px;
    .mine__btn{
      width: 100%;
    border-radius: 0;
    border-color: $active_color;
    box-shadow: none;
    background-color: $active_color;
    font-size: 16px;
    font-family: $general_font_text;
  }}

  .width{
    border-radius: 0;
    box-shadow: none;
    width: 285px;
    @include media-max(768px) {
      width: 228px;
    }
    @include media-max(414px){
    width: 310px;}
  }
}



.map {
  overflow: hidden;
  position: relative;
  height: 500px;
  @include media-max(414px){
    height: 200px;
  }
  &:after{
    content: "Find us on the map";
    color: white;
    padding-top: 250px;
    @include media-max(414px){
     padding-top: 100px;
    }
    text-transform: uppercase;
    text-align: center;
    @extend .text;
    font-size: 16px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.8;
  }
  &:hover{
    &:after{
      display: none;
    }
  }
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

footer {
  background-color: $back_color;
  padding: 80px 0 90px;
  img {
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 40px;
  }
  .facebook {
    @extend .round;
    background-color: #3b5998;
  }
  .twitter {
    @extend .round;
    background-color: #26a6d1;
  }
  .in {
    @extend .round;
    background-color: #0e76a8;
  }
  .instagram {
    @extend .round;
    background-color: #3f729b;
  }
  .v {
    @extend .round;
    background-color: #86c9ef;
  }
}