@import "Costants.scss";

.banner {
  background-image: url(../Images/banner.png);
  position: relative;
  top: -72px;
  z-index: 0;

  padding-top: 220px;
  padding-bottom: 50px;
  h1 {
    color: white;
    font-family: $general_font_caption Lig;
    font-size: 23px;
    margin-bottom: 47px;
  }
  p {
    font-size: 10px;
    font-family: $general_font_text,;
    width: 600px;
    margin: auto;
    height: 256px;
    color: white;
  }
  div {
    transform: rotate(90deg);
    color: white;
    margin-bottom: 77px;
    font-size: 15px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $active_color;
    text-align: center;
    line-height: 36px;
    margin-right: auto;
    margin-left: auto;

  }
}

.IPAD {
  padding-top: 115px;
  padding-bottom: 100px;

  .container {
    .row {
      .col-lg-5 {
        h3 {
          color: $caption_color;
          font-family: $general_font_caption;
          font-size: 14px;
          margin-bottom: 52px;
        }
        p {
          color: $text_color;
          font-family: $general_font_text;
          font-size: 8px;
          line-height: 17px;
          margin-bottom: 37px;
        }
        a {
          display: block;
          color: $caption_color;
          width: 138px;
          height: 35px;
          font-family: $general_font_text;
          font-size: 9px;
          line-height: 35px;
          text-align: center;
          border: 1px solid $caption_color;
          border-radius: 16px;
          &:hover {
            text-decoration: none;
          }
        }
      }

    }
  }
}