

.banner {
  background-image: url(../Images/banner.png);
  background-size: cover;
  padding-top: 210px;
  padding-bottom: 50px;
  h1 {
    color: white;
    font-family: $general_font_caption;
    font-size: 35px;
    margin-bottom: 47px;
  }
  p {
    font-size: 16px;
    font-family: $general_font_text,;
    max-width: 600px;
    margin: auto;
    height: 256px;
    color: white;
    line-height: 1.75;
  }
  div {

    color: white;
    margin-bottom: 77px;
    font-size: 15px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $active_color;
    text-align: center;
    line-height: 46px;
    margin-right: auto;
    margin-left: auto;

  }
}

.IPAD {
  padding-top: 115px;
  padding-bottom: 100px;

  .container {
    .row {
      .col-lg-5 {
        h3 {
          color: $caption_color;
          font-family: $general_font_caption;
          font-size: 20px;
          margin-bottom: 52px;
        }
        p {
          color: $text_color;
          font-family: $general_font_text;
          font-size: 14px;
          margin-bottom: 37px;
          line-height: 1.786;

        }
      }
      a {
        display: block;
        color: $caption_color;
        width: 138px;
        height: 35px;
        font-family: $general_font_text;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 1px solid $caption_color;
        border-radius: 16px;
        &:hover {
          text-decoration: none;
        }
      }
    }

  }
}



.deteils {
  padding: 80px 0 105px 0;
  background-color: $back_color;
  h3 {
    font-size: 20px;
    font-family: $general_font_caption;
    margin-bottom: 45px;
  }
  p {
    max-width: 460px;
    margin: auto;
    font-size: 14px;
    font-family: $general_font_text;
    line-height: 1.786;
    margin-bottom: 64px;

    span {
      color: $active_color;
    }
  }
  div {
    text-align: center;
    a {
      display: inline-block;
      width: 53px;
      height: 53px;
      background-color: $text_color;
      border-radius: 50%;
      text-align: center;
      line-height: 60px;
      color: white;
      margin: 13px;
      &:hover {
        background-color: $active_color;

      }
    }
  }

  .container {
    .row {
      .col-lg-2 {
        h4 {
          font-family: $general_font_text;
          font-size: 20px;
        }
      }
      .col-lg-5, .col-lg-3 {
        p {
          font-family: $general_font_text;
          font-size: 14px;
          line-height: 1.786;
        }
      }
    }
  }
}